In [18]:
import numpy as np
import pandas as pd

In [19]:
lst = [1,2,3,4,5]

In [20]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [21]:
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
[lst,lst,lst]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [22]:
pd.DataFrame([lst,lst,lst], columns=['A','B','C','D','E'])

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [23]:
df = pd.DataFrame([lst,lst,lst], columns=['A','B','C','D','E'])
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [7]:
import pandas as pd
lst = ['Geeks', 'For','Geeks']
df = pd.DataFrame(lst)
print(df)

       0
0  Geeks
1    For
2  Geeks

In [3]:
#Pandas Series
#A pandas series is a 1d array capable of holding data of any type(float,integer,string,python objects etc)
#Creating a series using the Pandas Library.
import pandas as pd
import numpy as np
#Creating empty series
ser = pd.Series()
print("Pandas Series: ", ser)
#Simple array
data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
print("Pandas Series:\n", ser)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
#Pandas DataFrame
#A Dataframe is a 2d structure constructed with rows and columns similar to excel spreadsheets
#Creating a DataFrame Using the Pandas Library
import pandas as pd
#calling dataframe constructor
df = pd.DataFrame()
print(df)
#List of strings
lst = ["Geeks","for",'Geeks','is','a','portal','for','geeks']
#calling dataframe constructor on lst
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     for
2   Geeks
3      is
4       a
5  portal
6     for
7   geeks

In [25]:
#Creating an Empty DataFrame
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [26]:
#Creating a DataFrame from a List
import pandas as pd
lst = ['Geeks','For','Geeks']
df = pd.DataFrame(lst)
print(df)

       0
0  Geeks
1    For
2  Geeks

In [28]:
#Creating DataFrame from dict of Numpy Array
import numpy as np
import pandas as pd
data = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(data, columns= ['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [29]:
#Creating a DataFrame from a List of Dictionaries  
import pandas as pd
dict = {'name':["aparna","Pankaj","sudhir","Geeku"],
       'degree': ["MBA","BCA","M.Tech","MBA"],
       'score':[90,40,80,98]}
df = pd.DataFrame(dict)
print(df)

     name  degree  score
0  aparna     MBA     90
1  Pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [30]:
#Python Pandas Series
import pandas as pd
#simple array
data = [1,2,3,4]
ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

In [31]:
#Creating a Pandas Series
#Creating a series from array:in order to create a series from an array,we have to import a numpy module and have to use array() function.
import pandas as pd
import numpy as np
data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [32]:
#creating a series from list
#In order to create a series from list, we have to first create a list after that we can create a series from list.
import pandas as pd
#a simple list
list = ['g','e','e','k','s']
#create a series from the list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [35]:
#Accessing element of Series
#There are two ways through which we can access element of series, they are :
#Accessing Element from Series with Position
#Accessing Element Using Label (index)
#Accessing first 5 elements of Series.
import pandas as pd
import numpy as np
#creating a simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data)
#retrieve the first element
print(ser[:5])

0    g
1    e
2    e
3    k
4    s
dtype: object

In [38]:
#Accessing Last 10 Elements of Series
import pandas as pd
import numpy as np
#create simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data)
print(ser[-10:])

3     k
4     s
5     f
6     o
7     r
8     g
9     e
10    e
11    k
12    s
dtype: object

In [40]:
#Accessing Element Using Label (index) :
#Accessing a single element using index label.
import pandas as pd
import numpy as np
#create a simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
#accessing a element using index element
print(ser[16])

o

In [41]:
#Accessing a Multiple Element Using index Label
import pandas as pd
import numpy as np
#creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
#accesing a multiple element using 
#index element
print(ser[[10,11,12,13,14]])

10    g
11    e
12    e
13    k
14    s
dtype: object

In [42]:
#Access Multiple Elements by Providing Label of Index
import pandas as pd
import numpy as np
ser = pd.Series(np.arange(3,9),index = ['a','b','c','d','e','f'])
print(ser[['a','d']])

a    3
d    6
dtype: int32

In [1]:
#Binary Operations on Pandas Series
#Performing Binary Operations
import pandas as pd
ser1 = pd.Series([1,2,3],index=['A','B','C'])
ser2 = pd.Series([4,5,6],index=['A','B','C'])
df_sum = ser1.add(ser2)
print(df_sum)
#Each element of ser1 is added to the corresponding element of ser2 by matching the index labels (A,B,C).

A    5
B    7
C    9
dtype: int64

In [2]:
#Conversion Operation on Series
import pandas as pd
ser = pd.Series([1,2,3,4])
ser = ser.astype(float)
print(ser)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [3]:
#Creating an Empty Pandas Series
import pandas as pd
ser = pd.Series()
print(ser)

Series([], dtype: object)

In [4]:
#Creating a Series from a Numpy Array
import pandas as pd
import numpy as np
data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
#Creating a Series from a List
import pandas as pd
data_list = ['g','e','e','k','s']
ser = pd.Series(data_list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [6]:
#Creating a Series from a Dictionary
import pandas as pd
data_dict = {'Geeks':10, 'For':20, 'geeks':30}
ser = pd.Series(data_dict)
print(ser)

Geeks    10
For      20
geeks    30
dtype: int64

In [8]:
#Creating a Series Using NumPy Functions
import pandas as pd
import numpy as np
ser = pd.Series(np.linspace(1,10,5))
print(ser)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [9]:
#Creating a Series Using range()
import pandas as pd
ser = pd.Series(range(5,15))
print(ser)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

In [10]:
#Creating a Series Using List Comprehension
import pandas as pd
ser = pd.Series(range(1,20,3),index=[x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64